// ------------ Bootstrap includes
@import bootstrap-custom


//------------- The specs

@import style-specs




//-------------- Here is the mixin code for the font-face in sass.
@import font-face

@include font-face("Gotham", "../fonts/GOTHAM/GOTHAM-LIGTH_0")
@include font-face("Kraftstoff", "../fonts/Kraftstoff-Regular")







//---------------- My code start here

//---------------- General reseting and background color implementation

*
	padding: 0 !important

body 
	margin: 0
	background-color: $light_color









//--------------- left style css style
.sidebar 
	background-color: $extra_strong_color
	height: 700px
	color: $thinny_color
	display: block
	position: fixed
	left: 0
	top: 0

p.welcome
	font-size: 1.25em
	text-align: center
	margin-top: 10%

div.user_image
	background: url('../images/profile1.jpeg') no-repeat center
	height: 12%
	width: 55%
	margin: 10% auto
	border-radius: 100%



//---------------- navbar side

nav.base_nav
	margin-top: 30%
	width: 100%
	height: 50%

	ul
		height: 100%
		li
			list-style-type: none
			margin-top: 5%
			height: 10%
			background-color: $strong_color
		a
			margin: 0 auto
			text-decoration: none
			color: $thinny_color
			cursor: pointer
			padding-top: 16px !important
			font-size: 1.1em

			i 
				margin-left: 3%
			span
				margin-left: 8% 

		a:hover 
			color: $thinny_color
			text-decoration: none
		a:active
			border: 1px solid $extra-strong-color










//------------ Main part of the dashboard CSS
.content_container
	@extend .pull-right
	@extend .col-md-10

.container_box
	@extend .col-md-11
	margin-bottom: 3%
	margin-left: 4%
	float: left
	margin-top: 0
	

//-------------- Box that will be generated automaciatly, with various height and width

.box
	float: left
	margin-right: 2.5%

.box-last
	margin-right: 0

.box-small
	@extend .box
	width: 23%
	margin-top: 3%

.box-medium
	@extend .box
	width: 48.5%
	margin-top: 3%

.box-large
	@extend .box
	width: 100%
	margin-top: 7%

.box-content
	background-color: $thinny_color

.box-content-long
	height: 500px

.box-content-short
	height: 300px

.box-title
	height: 50px
	border-bottom: 2px grey solid
	background-color: $medium_color
	padding-top: 12.5px !important

	h3 
		margin-left: 5%
		margin-top: 0 !important

		span 
			font-size: 0.65em
			margin-left: 2%

i.arrow
	font-size: 0.75em
	color: $thinny_color
	cursor: pointer
	margin-right: 5%





//---------------- style of the datepicker
.weekspicker
	cursor: pointer
	background: #fff
	width: 29%
	border: 1px solid #ccc
	margin-right: 2%
	padding-bottom: 2%
	font-size: 0.9em
	text-align: right
	color: #aaa

i.datepick
	font-size: 0.75em
	margin-left: 0

b.caret
	margin-left: 2%
	margin-right: 2%

.calendar-margin
	margin-left: 3%







//----------------- Status bar at the top of the dashboard
.status_bar 
	background-color: $strong-color
	color: $medium_color
	height: 50px
	position: fixed
	top: 0
	right: 0
	color: $thinny_color

	h2
		font-size: 1.5em
		float: right
		margin-right: 2%
		margin-top: 1%







//--------------- CSS of modules.html

.modules-list
	display: inline-block
	float: left
	height: 100%
	width: 25%
	border-right: 2px solid $medium-color
	

.modules-content
	display: inline-block
	height: 100%
	width: 75%