//The colours

$lightgrey: whitesmoke
$primary_color: rgb(36,136,143)
$secondary_color: rgb(237,151,103)

//Typography

$primary_font: Gotham, sans-serif
$secondary_font: Krafstoff, sans-serif

@import font-face

@include font-face("Gotham", "../fonts/GOTHAM/GOTHAM-LIGTH_0")

// - - - - - - - Bootstrap includes
@import bootstrap-custom





// My code start here
body 
	margin: 0

.sidebar 
	background-color: $primary_color
	height: 1000px

.main-part 
	background-color: $secondary_color
	height: 1000px

