doctype
html
	head
		include includes/_head

	body
		.container-fluid
			main
				.sidebar.col-md-2 
					p.welcome Bonjour [formateur], bienvenue sur votre dashboard

					//here is the navbar of the dashboard
					.base_nav
						a(href='#') Planning
					
						a(href='#') Programme de formation
						
						a(href='#') Reporting

				.main-part.col-md-10