doctype
html
	head
		include includes/_head

	body
		.container-fluid
			main

				.sidebar.col-md-2 

				
					p.welcome Bonjour [formateur], bienvenue sur votre dashboard

					.user_image

					//here is the the navbar of the dashboard
					nav.base_nav
						ul

							li 
								a(href='#') Planning
						
							li 
								a(href='#') Programme de formation
							
							li
								a(href='#') Reporting



				.pull-right.col-md-10


					.box-big.col-md-11.offset-1.first-box
						.box-title
							h3 Planning de la semaine 
								span sub title
								div(id="reportrange").weekspicker.pull-right
									i.glyphicon.glyphicon-calendar.fa.fa-calendar
										span
										b.caret



					.box-medium.col-md-11.offset-1

					.box-medium.col-md-11.offset-1




				.status_bar.col-md-10

						.user_imageXS
						h2 [Prénom] [Nom]
						