doctype
html
	head
		include includes/_head

	body
		.container-fluid
			main

				.sidebar.col-md-2 

				
					p.welcome Bonjour [formateur], bienvenue sur votre dashboard

					.user_image

					//here is the the navbar of the dashboard
					nav.base_nav
						ul

							li 
								a(href='#') Planning
						
							li 
								a(href='#') Programme de formation
							
							li
								a(href='#') Reporting



				.pull-right.col-md-10


					.container_box.col-md-11.offset-1

						.row
							.box-large
								div.box-title
									h3 Planning de la semaine 
										span sub title
										div(id="reportrange").weekspicker.pull-right
											i.glyphicon.glyphicon-calendar.fa.fa-calendar.datepick
											span
											b.caret

								.box-content.box-content-long
			
						//Medium boxes have to be write in descending order in every row of 2 due to pull-right class (which is place in the first child of the row)

						.row
							.box-medium.pull-right
								.box-title
									h3 Test 2
										span sub title
										i(id="content_test2-hide")
											.glyphicon.glyphicon-chevron-up.arrow.pull-right
								div(id="content_test2").box-content.box-content-short


							.box-medium
								.box-title
									h3 Test 1
										span sub title
										i(id='content_test1-trigger').pull-right.glyphicon.glyphicon-chevron-up

								div(id="content_test1").box-content.box-content-short

						.row
							.box-medium.pull-right
								.box-title
									h3 Test 4
										span sub title
										button(id='content_test4-trigger').btn.btn-primary.pull-right Hide

								div(id="content_test4").box-content.box-content-short

							.box-medium
								.box-title
									h3 Test 3
										span sub title
										button(id='content_test3-trigger').btn.btn-primary.pull-right Hide

								div(id="content_test3").box-content.box-content-short



				.status_bar.col-md-10

						.user_imageXS
						h2 [Prénom] [Nom]
						