<!DOCTYPE html>
<html>
  <head>
    <script src="../assets/javascripts/jquery/jquery-3.0.0.min.js"></script>
    <script src="../assets/javascripts/jquery-migrate.js"></script>
    <script src="../assets/javascripts/moment.min.js"></script>
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="../assets/stylesheets/daterangepicker.css">
    <script src="../assets/javascripts/bootstrap.js"></script>
    <script src="../assets/javascripts/daterangepicker.js"></script>
    <script src="../assets/javascripts/script.js"></script>
    <meta charset="utf-8">
    <meta author="Assistant formateur &amp; lead formateur">
    <title>TrainingORM v0.1</title>
  </head>
</html>
<body>
  <div class="container-fluid">
    <main>
      <div class="sidebar col-md-2"> 
        <p class="welcome">Bonjour [formateur], bienvenue sur votre dashboard</p>
        <div class="user_image"></div>
        <!--here is the the navbar of the dashboard-->
        <nav class="base_nav">
          <ul>
            <li> <a href="index.html.twig"> <i class="glyphicon glyphicon-home"> </i><span>Home</span></a></li>
            <li> <a href="#"> <i class="glyphicon glyphicon-calendar"></i><span>Programme de formation</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-signal"> </i><span>Reporting</span></a></li>
            <li><a href="modules.html.twig"><i class="glyphicon glyphicon-list"></i><span>Modules</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="content_container">
        <div class="container_box">
          <div class="row">
            <div class="box-large">
              <div class="box-title">
                <h3>Listes des modules<span>par ordre décroissant</span></h3>
              </div>
              <div class="box-content box-content-long">
                <div class="modules-list">{% for programmedeformation in programmedeformations %}
                  <p>{{ programmedeformation.intitule}}</p>{% endfor %}
                </div>
                <div class="modules-content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="status_bar col-md-10">
        <div class="user_imageXS"></div>
        <h2>[Prénom] [Nom]</h2>
      </div>
    </main>
  </div>
</body>