{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des programmes </h2>
	<ul>
    {% for program in programmes %}
        <li><a href='programme/select/{{program.id}}'>{{ program.intitule }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}