doctype
html
	head
		script(src='../assets/javascripts/jquery/jquery-3.0.0.min.js')
		script(src='../assets/javascripts/jquery-migrate.js')
		script(src='../assets/javascripts/moment.min.js')
		link(rel="stylesheet" href="../assets/stylesheets/style.css")
		link(rel="stylesheet" href="../assets/stylesheets/daterangepicker.css")
		script(src='../assets/javascripts/bootstrap.js')
		script(src='../assets/javascripts/daterangepicker.js')
		script(src='../assets/javascripts/script.js')
		meta(charset='utf-8')
		meta(author='Assistant formateur & lead formateur')
		title TrainingORM v0.1

	
			