.sidebar.col-md-2 

	p.welcome Bonjour [formateur], bienvenue sur votre dashboard

	.user_image

	//here is the the navbar of the dashboard
	nav.base_nav
		ul

			li 
				
				a(href='index.html.twig') 
					i.glyphicon.glyphicon-home 
					span Home
		
			li 
				a(href='#') 
					i.glyphicon.glyphicon-calendar
					span Programme de formation
			
			li
				a(href='#')
					i.glyphicon.glyphicon-signal 
					span Reporting
			
			li
				a(href='modules.html.twig')
					i.glyphicon.glyphicon-list
					span Modules