.sidebar.col-md-2 

	p.welcome Bonjour [formateur], bienvenue sur votre dashboard

	.user_image

	//here is the the navbar of the dashboard
	nav.base_nav
		ul

			li 
				
				a(href='index.html') 
					i.glyphicon.glyphicon-home 
					span Planning
		
			li 
				a(href='#') 
					i.glyphicon.glyphicon-calendar
					span Programme de formation
			
			li
				a(href='#')
					i.glyphicon.glyphicon-th-list 
					span Reporting
			