{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des séquences </h2>
	<ul>
    {% for sequence in sequences %}
        <li> <a href='sequence/select/{{sequence.id}}'> {{ sequence.code }} : {{ sequence.intitule }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}